:root {
    --bg-color: #121212;
    --accent-color: #DD2E44;
}

body {
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; */
    background-color: #121212;
    color: #FFFFFF;
    box-sizing: border-box;
}

h1 {
    color: var(--accent-color);
}

p {
    margin: 0;
    padding: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
}

li label {
    flex-grow: 1;
}

input[type="text"],
input[type="number"] {
    padding: 0.25em;
    width: 50%;
}

button {
    width: 100%;
    padding: 1em;
    background-color: var(--accent-color);
    color: #FFFFFF;
    border-radius: 12px;
    border: none;
}

input[type="checkbox"] {
    width: 2em;
    height: 2em;
}

.header {
    display: flex;
}

.header h1:first-child {
    flex-grow: 1;
}

.header span {
    background-color: var(--accent-color);
    color: #FFFFFF;
    padding: 0 0.3em;
}

.player {
    display: grid;
    grid-template-columns: 20% 40% 40%;
}

.players {
    height: 90vh;
    overflow: auto;
}

.player,
.date {
    min-width: 8em;
}

.date {
    border-right: 1px solid #FFFFFF;
}

.game,
.date {
    border-bottom: 1px solid #202020;
}

.game.staged {
    text-decoration: underline;
}

.game.empty {
    color: var(--bg-color);
    user-select: none;
}

.forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 425px) {
    .header {
        flex-direction: column-reverse;
    }

    .header h1:last-child {
        text-align: center;
    }
}